<table mat-table [dataSource]="cities" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> City name </th>
      <td mat-cell *matCellDef="let element, let i =index"> {{element.name}} </td>
    </ng-container>  

    <ng-container matColumnDef="getData">
      <th mat-header-cell *matHeaderCellDef> Get data</th>
      <td mat-cell *matCellDef="let element, let i =index"> <button (click)="getDataFun(i,element.name)" mat-raised-button>GetData</button></td>
    </ng-container>

    <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> Predict</th>
        <td mat-cell *matCellDef="let element, let i =index">
        <button (click)="predict(i)"  *ngIf="!element.predict" [disabled] = "!element.temperature && !element.humidity"mat-raised-button>Predict</button>
        <button (click)="add(i)" *ngIf="element.predict && !element.saved"mat-raised-button>Save</button>
      </ng-container>

      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature</th>
        <td mat-cell *matCellDef="let element, let i =index"> {{element.temperature}} </td>
      </ng-container>


      <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity</th>
        <td mat-cell *matCellDef="let element, let i =index">{{element.humidity}}</td>
      </ng-container>

      <ng-container matColumnDef="wind">
        <th mat-header-cell *matHeaderCellDef> Wind</th>
        <td mat-cell *matCellDef="let element, let i =index">{{element.wind}}</td>
      </ng-container>

      <ng-container matColumnDef="image" >
        <th mat-header-cell *matHeaderCellDef> image </th>
        <td mat-cell *matCellDef="let element; let i = index" >  <img mat-card-avatar *ngIf ="element.temperature" src={{element.image}} alt="Photo of weather">
        </td>
      </ng-container>

      
      <ng-container matColumnDef="prediction">
        <th mat-header-cell *matHeaderCellDef> Prediction</th>
        <td mat-cell *matCellDef="let element, let i =index">{{element.predict}}</td>
      </ng-container>

 
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell  *matCellDef="let element, let i = index"> <button (click)="delete(element.id)" *ngIf="element.predict"  mat-raised-button color ="warn">Delete</button> </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>