<div class="form-container">
    <h1 mat-dialog-title>Add city</h1>
        <mat-card >
            <form #cityForm = "ngForm" >
                        <mat-form-field appearance="fill">
                            <mat-label>City.</mat-label>
                            <input matInput placeholder="Enter your city name"
                            [(ngModel)]= name
                            name = name
                            required>
                        </mat-form-field>
         
                <button  mat-raised-button [disabled]= "!cityForm.valid"(click)="addCity()"  color="primary">Add</button>

            </form>
        </mat-card> 
    </div>